table{
			margin: 10px 0px 0px 10px;
		}
		td{
			text-align: center;
		}
		p{
			text-align: left;
		}
		.container{
			font-size: 1.5em;
			display: none;
		}
		body { 
			background: linear-gradient( to top, white, #696969 ); 
			background-repeat: all;
			background-image: url('https://raw.githubusercontent.com/mina0502/web/main/img/walll.jpg'); 
			}
		ul,ol{
			color: white;
		}